/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";

.top-bar{
	height: 56px;
	@include border-radius (4px);
	margin-top: 10px;
	.name{
		h1 a{
			background: url('../images/logo.png') no-repeat center center;
			width: 251px;
			height: 56px;
			text-indent: -9999px;
			display: inline-block;
			margin-left: 15px;
		}
	}
}

.top-bar-section{
	.right{
		padding-top: 6px;
		a{
			text-transform: uppercase;	
		}
	}
}
.banner{
	height: 504px;
	overflow: hidden;
	background:url('../images/bg-vitrine.jpg');
	.row{
		padding-top: 50px;
	}
	.description{
		padding-top: 200px;
		h1{
			font-size: 40px;
			color: #fff;
		}
	}
}
.news{
	padding-top: 110px;
	background: black;
	figure{
		margin: 0;
	}
	h2,	p{
		color: #fff;
	}
	h2{
		font-family: "Trebuchet MS";
  		font-size: 16px;
  		margin-bottom: 15px;
	}
	p{
		font-size: 12px;
  		margin-bottom: 12px;
  		line-height: 18px;
	}
	.resumo{
		h3,a,p{
			text-transform: uppercase;
			color: #fff;
			font-size: 14px;
		}
		a{
			color: #fff001;
		}
	}
	.social{
		margin: 10px;
		padding: 10px;
		background: #1B2833;
		border:1px solid #1472b3;
		text-align: center;
		.arrow-next span,
		.arrow-prev span{
			background:url(../images/sprite-setas.png) no-repeat 0 0;
			height: 39px;
  			width: 39px;
  			display: block;
  			margin: 0 auto;
		}
		.arrow-next span{
			 background-position: 0 0;
			 &:hover{
			 	background-position: -39px 0;
			 }
		}
		.arrow-prev span{
			background-position: -39px -39px;
			&:hover{
				background-position: 0 -39px;
			}
		}
		ul{
			margin: 0 0 15px;
			padding-bottom: 15px;
			list-style: none;
			border-bottom:1px solid #1472b3;
			li{
				margin-top: 4px;
			}
		}
	}
}
.contato{
	padding-top: 110px;
	background: url(../images/bg-footer.png) repeat 0 0;
	h4,p{color: #ddeaf5;}
}
.owl-prev,.owl-next{
	position: absolute;
	top: 50%;
	width: 35px;
  	height: 35px;
  	border-right: 3px solid yellow;
  	border-top: 3px solid yellow;
  	display: block !important;
  	text-indent: -9999px;
}

.owl-prev{
	left: 40px;
    transform: rotate(-135deg);
}
.owl-next{
	right: 40px;
	transform: rotate(45deg);
}

form {
	background: url('../images/sombra-contato.png') no-repeat right 0;
	padding: 30px 50px;
	input,textarea{
		@include border-radius (4px !important) ;
	}
	textarea{
		height: 112px;
	}
}

@media only screen and (max-width: 768px){
	.top-bar-section{
		.right{
			padding-top: 0;
		}
	}
}